* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  font-size: 62.5%;
}

body {
  background: linear-gradient(287.56deg, #C2E9FB 0%, #A1C4FD 100%);
  display: grid;
  font-size: 1.6rem;
  height: 100vh;
  place-items: center;
}

body, button, input {
  font-family: "DM Sans", sans-serif;
}

.hide {
  display: none;
}

button {
  background-color: #7879F1;
  border-radius: 0 .4rem .4rem 0;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: background .3s;
}

button:hover {
  background-color: #6363ce;
}

main {
  background: #FFFFFF;
  border-radius: .6rem;
  box-shadow: 0 .2rem .4rem rgba(0, 0, 0, 0.1);
  margin-top: -12rem;
  padding: 4.8rem 6.4rem 6.4rem;
  text-align: center;
  width: min(42.8rem, 90%);
}

/* screen1 */
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

h1, p {
  color: #34355B;
}

p {
  opacity: 0.8;
}

form {
  display: flex;
  justify-content: center;
  margin-top: 4.8rem;
}

input, button {
  border: 0;
  padding: 1.6rem;
}

input {
  background-color: #DCE2E9;
  border-radius: .4rem 0 0 .4rem;
  width: 6rem;
}


/* screen2 */
h2 {
  font-size: 2.4rem;
  font-weight: normal;
  margin-bottom: 3.3rem;
}

.screen2 button {
  border-radius: .4rem;
}